<header class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' classNames="navbar-brand"}}Purple Form{{/link-to}}
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
          {{#link-to 'disclosed' tagName="li"}}<a href="#">Disclosed</a>{{/link-to}}
          {{#link-to 'inline' tagName="li"}}<a href="#">Inline</a>{{/link-to}}
          {{#link-to 'convenience' tagName="li"}}<a href="#">Convenience</a>{{/link-to}}
      </ul>
    </div>
  </div>
</header>
