<h1 class="text-center">
  Select from these components
</h1>

<div class="row text-center">
  {{#link-to 'disclosed' tagName="button" classNames="btn btn-primary" href=false}}Disclosed Form{{/link-to}}
  {{#link-to 'inline' tagName="button" classNames="btn btn-primary" href=false}}Inline Form{{/link-to}}
  {{#link-to 'convenience' tagName="button" classNames="btn btn-primary" href=false}}Convenience Form{{/link-to}}
</div>
