<h1>Inline Form</h1>

<div class="col-xs-12">

  <h3>
    {{purple-inline
      value=model.name
      fieldName="name"
      cancel="cancel"
      save="save"
      placeholder="Enter your Name"
    }}
  </h3>

  <div class="row">
    <div class="col-sm-6">
      <div class="pull-left u-margin-Rl">
        {{em-gravatar email=model.email}}
      </div>
      <div class="email-input">
        {{purple-inline
          value=model.email
          fieldName="email"
          cancel="cancel"
          save="save"
          placeholder="Enter your Email"
        }}
      </div>
    </div>
  </div>
</div>
