<h1>Inline Form</h1>

<div class="col-xs-6">

  <h3>{{name}}</h3>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    {{input class="form-control" id="inputEmail"
      placeholder="Enter your Email address"}}
  </div>
</div>
